* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  .footer{
    background-color: #016A6A;
    text-align: center;
  }
  .footer .content{
    display: flex;
    color: #fff;
    justify-content: space-between;
  }
  .footer .content .box{
    display: flex;
    padding: 78px 0 0;
    flex-direction: column;
  }
  .footer .content .logo{
    gap: 20px;
  }
  .footer .content .doors{
    text-align: center;
    padding: 70px 0 0;
    width: 346.856px;
    height: 130px;
  }
  .footer .content .doors p:first-child{
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .footer .content .doors p,
  .footer .content .doors .p,
  .footer .content .box .information p{
    color: #FFF;
    text-align: center;
    font-family: Book Antiqua;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer .content .doors .links{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 10px;
  }
  .footer .content .doors .p{
    display: inline-flex;
    height: 39.098px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .footer .content .box:last-child{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }
  .footer .content .box .information{
    display: flex;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
.footer .foot img{
    width: 100%;
height: 167px;
flex-shrink: 0;
}
@media (max-width: 992px) {
    .footer{
        padding: 20px 0;
    }
    .footer .content{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .footer .content .box{
        padding:0;
    }
    .footer .content .logo img{
        width: 200px;
    }
    .footer .foot{
        display: none;
    }
}
.icon{
  display: flex ;
  align-items: center;
}
.icon svg{
  display: none;
  color: #016A6A;
}
.icon:hover .menu{
display: block;
}
@media (max-width : 992px) {
  .icon svg{
    display: block;
    font-size: 25px;
    position: absolute;
    left: 35px;
  }
  .header nav{
    position: relative;
  }
  .header nav ul.menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: #FFF;
}
}
